*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#050505;
color:white;
padding:14px;
overflow-x:hidden;
}

body::before{
content:'';
position:fixed;
inset:0;
background:
radial-gradient(circle at top left,#ff000020,transparent 30%),
radial-gradient(circle at bottom right,#00ffff18,transparent 30%),
#050505;
z-index:-1;
}

.topbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:18px;
}

.logo{
font-size:30px;
font-weight:700;
color:#ff3434;
}

.logout-btn{
border:none;
padding:12px 18px;
border-radius:14px;
background:
linear-gradient(
135deg,
#ff1e1e,
#990000
);
color:white;
font-weight:600;
cursor:pointer;
}

.main-card{
background:
linear-gradient(
145deg,
#141414,
#0c0c0c
);

border:1px solid #222;

border-radius:28px;

padding:24px;

margin-bottom:18px;
}

.label{
font-size:12px;
letter-spacing:1px;
color:#777;
}

.period{
margin-top:8px;
font-size:22px;
font-weight:700;
color:#ffd500;
}

.prediction{
margin-top:18px;
font-size:85px;
font-weight:700;
text-align:center;
}

.big{
color:#00c3ff;
}

.small{
color:#ffd500;
}

.bar{
margin-top:18px;
width:100%;
height:14px;
background:#1b1b1b;
border-radius:20px;
overflow:hidden;
}

.fill{
height:100%;
width:0%;
background:
linear-gradient(
90deg,
#ff0000,
#ffd500,
#00ff99
);
transition:.4s;
}

.stats{
display:grid;
grid-template-columns:
repeat(2,1fr);
gap:14px;
margin-bottom:18px;
}

.card{
background:
linear-gradient(
145deg,
#141414,
#0d0d0d
);

border:1px solid #222;

border-radius:22px;

padding:18px;
}

.card-title{
font-size:11px;
letter-spacing:1px;
color:#777;
}

.card-value{
margin-top:10px;
font-size:28px;
font-weight:700;
}

.green{
color:#00ff99;
}

.red{
color:#ff4d4d;
}

.yellow{
color:#ffd500;
}

.history-box{
background:
linear-gradient(
145deg,
#141414,
#0d0d0d
);

border:1px solid #222;

border-radius:26px;

padding:20px;
}

.history-title{
font-size:22px;
font-weight:700;
margin-bottom:16px;
color:#ff3434;
}

#history{
display:flex;
flex-direction:column;
gap:12px;
max-height:450px;
overflow-y:auto;
}

.history-item{
background:#181818;
padding:16px;
border-radius:18px;
border-left:4px solid #00ff99;
}

.history-top{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.time{
margin-top:8px;
font-size:12px;
color:#777;
}
