*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#050505;
overflow:hidden;
}

body::before{
content:'';
position:absolute;
width:100%;
height:100%;
background:
radial-gradient(circle at top left,#ff000030,transparent 30%),
radial-gradient(circle at bottom right,#00ffff20,transparent 30%);
z-index:-1;
}

.login-box{

width:350px;
padding:35px;

background:#111;

border:1px solid #222;

border-radius:20px;

box-shadow:
0 0 25px rgba(255,0,0,.2);

text-align:center;

backdrop-filter:blur(10px);
}

h1{
color:#ff2e2e;
margin-bottom:10px;
font-size:32px;
}

.subtitle{
color:#888;
margin-bottom:25px;
font-size:14px;
}

input{

width:100%;

padding:15px;

margin-bottom:15px;

border:none;

outline:none;

border-radius:12px;

background:#1b1b1b;

color:white;

font-size:15px;

border:1px solid #222;
}

input:focus{
border-color:#ff2e2e;
box-shadow:0 0 10px rgba(255,0,0,.4);
}

button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:linear-gradient(
135deg,
#ff1e1e,
#990000
);

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:.3s;
}

button:hover{

transform:scale(1.03);

box-shadow:
0 0 20px rgba(255,0,0,.4);
}

#message{
margin-top:15px;
color:#00ff99;
font-size:14px;
}

.telegram{

display:block;

margin-top:20px;

color:#00c3ff;

text-decoration:none;

font-size:14px;
}

.telegram:hover{
text-decoration:underline;
}